// Font Family

$font-family: 'On Air Var';

// Label M
$font-label-m-size: 16px;
$font-label-m-weight: 500;
$font-label-m-line-height: 22px;
$font-label-m-letter-spacing: 0.16px;

// Label S
$font-label-s-size: 14px;
$font-label-s-weight: 550;
$font-label-s-line-height: 17px;
$font-label-s-letter-spacing: 0.16px;

// Body M
$font-body-m-size: 16px;
$font-body-m-weight: 400;
$font-body-m-line-height: 22px;
$font-body-m-letter-spacing: 0.01px;
$font-body-m-paragraph-spacing: 20px;
$font-body-m-list-spacing: 6px;
